*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: lightcoral;
}
.container{
    max-width: 1024px;
    margin: 0 auto;   
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-color: rgb(113, 108, 173);*/
    padding:20px 0;   
}
h1{
   color: white; 
   text-transform: uppercase;   
}
button{
    margin: 20px 0 10px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 12px;
    text-transform: capitalize;
    font-weight: bold;
}
.memory-game{
    margin: 0 auto;
    /* background-color: lightgreen; */
}
.cards{
    /* width: 200px; */
    margin:45px auto;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(4,100px);
    gap: 20px;
    box-sizing: border-box; 
}
.card{
    width: 100px;
    height: 130px;
    border: 3px solid blueviolet;
    border-radius: 12%;
    cursor: pointer;
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0,0%,100%,1)'/><path d='M40 45a5 5 0 110-10 5 5 0 010 10zM0 45a5 5 0 110-10 5 5 0 010 10zM0 5A5 5 0 110-5 5 5 0 010 5zm40 0a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(258.5,59.4%,59.4%,1)'/><path d='M20 25a5 5 0 110-10 5 5 0 010 10z'  stroke-width='1' stroke='none' fill='hsla(339.6,82.2%,51.6%,1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    text-align: center;
    font-size:xx-large;
    font-weight: bold;
    color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flipped, .matched{
    background-color: blanchedalmond;
    background-image: none;
    color: blueviolet;   
    transition: all 0.5s ease-in;
    transform: rotateY(360deg);
}
